USE [master]
GO
/****** Object:  Database [QLKTX]    Script Date: 03/01/2020 17:10:44 ******/
CREATE DATABASE [QLKTX]
GO
USE [QLKTX]
GO
/****** Object:  Table [dbo].[BIENLAIHOANTRAPHONG]    Script Date: 03/01/2020 17:10:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BIENLAIHOANTRAPHONG](
	[IDBL] [int] IDENTITY(1,1) NOT NULL,
	[IDSINHVIEN] [int] NOT NULL,
	[IDHOCKI] [int] NOT NULL,
	[NGAYTRAPHONG] [nvarchar](30) NOT NULL,
	[TIENHOANTRA] [money] NOT NULL,
	[NGUOITHUNGAN] [nvarchar](max) NULL,
	[TENSINHVIEN] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[IDBL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[BIENLAITHUEPHONG]    Script Date: 03/01/2020 17:10:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BIENLAITHUEPHONG](
	[IDVL] [int] IDENTITY(1,1) NOT NULL,
	[IDSINHVIEN] [int] NULL,
	[IDPHONG] [int] NULL,
	[TRANGTHAI] [bit] NULL,
	[TENNHAPHONG] [nvarchar](max) NULL,
	[LOAIPHONG] [int] NULL,
	[DADONGTIENPHONG] [bit] NULL,
	[IDHOCKI] [int] NULL,
	[TENHOCKI] [nvarchar](max) NULL,
	[NGAYVAO] [nvarchar](max) NULL,
	[NGAYTRAPHONG] [nvarchar](max) NULL,
	[GHICHU] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[IDVL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[BIENLAITIENPHONG]    Script Date: 03/01/2020 17:10:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[BIENLAITIENPHONG](
	[IDBL] [int] IDENTITY(1,1) NOT NULL,
	[IDSINHVIEN] [int] NULL,
	[ID_DSSV_TIENPHONG] [int] NULL,
	[IDHOCKI] [int] NULL,
	[IDPHONG] [int] NULL,
	[NGAYINBL] [varchar](30) NULL,
	[TENNGUOITHU] [nvarchar](max) NULL,
	[DONGTIENPHONG] [bit] NULL,
	[DONGTIENBHYT] [bit] NULL,
	[DONGTIENBHTN] [bit] NULL,
	[TONGTIEN] [money] NULL,
	[TIENPHONGDADONG] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[IDBL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CANBO]    Script Date: 03/01/2020 17:10:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CANBO](
	[IDCANBO] [int] IDENTITY(1,1) NOT NULL,
	[MSCB] [int] NULL,
	[HOTEN] [nvarchar](max) NULL,
	[NGAYSINH] [nvarchar](max) NULL,
	[DIACHI] [nvarchar](max) NULL,
	[CMND] [nvarchar](max) NULL,
	[SDT] [nvarchar](max) NULL,
	[GIOITINH] [bit] NULL,
	[QUOCTICH] [nvarchar](max) NULL,
	[DANTOC] [nvarchar](max) NULL,
	[NGAYVAOLAM] [nvarchar](max) NULL,
	[CHUCVU] [nvarchar](max) NULL,
	[IDUSER] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[IDCANBO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DANHSACHSV_PHONG]    Script Date: 03/01/2020 17:10:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DANHSACHSV_PHONG](
	[IDSINHVIEN] [int] NOT NULL,
	[IDPHONG] [int] NOT NULL,
	[NGAYVAO] [varchar](max) NULL,
	[NGAYRA] [varchar](max) NULL,
 CONSTRAINT [PK_DANHSACHSV_PHONG] PRIMARY KEY CLUSTERED 
(
	[IDPHONG] ASC,
	[IDSINHVIEN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DANHSACHSV_TIENPHONG]    Script Date: 03/01/2020 17:10:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DANHSACHSV_TIENPHONG](
	[IDSV_TIENPHONG] [int] IDENTITY(1,1) NOT NULL,
	[IDSINHVIEN] [int] NULL,
	[IDPHONG] [int] NULL,
	[TIENPHAIDONG] [money] NULL,
	[NGAYVAO] [varchar](max) NULL,
	[DADONGTIENPHONG] [bit] NULL,
	[DADONGBHYT] [bit] NULL,
	[DADONGBHTN] [bit] NULL,
	[IDHOCKI] [int] NULL,
	[TIENBHYT] [money] NULL,
	[TIENBHTN] [money] NULL,
 CONSTRAINT [PK_DANHSACHSV_TIENPHONG] PRIMARY KEY CLUSTERED 
(
	[IDSV_TIENPHONG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[GIADIEN]    Script Date: 03/01/2020 17:10:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GIADIEN](
	[ID] [int] NOT NULL,
	[GIADIEN] [money] NOT NULL,
	[CHITIETGIA] [nvarchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[GIANUOC]    Script Date: 03/01/2020 17:10:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GIANUOC](
	[ID] [int] NOT NULL,
	[GIANUOC] [money] NOT NULL,
	[CHITIETGIA] [nvarchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[HOCKI]    Script Date: 03/01/2020 17:10:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[HOCKI](
	[TENHOCKI] [nvarchar](max) NULL,
	[IDHOCKI] [int] IDENTITY(1,1) NOT NULL,
	[NGAYBATDAU] [varchar](max) NULL,
	[NGAYKETHUC] [varchar](max) NULL,
	[TENNAMHOC] [varchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[IDHOCKI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PHONG]    Script Date: 03/01/2020 17:10:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHONG](
	[TENPHONG] [nvarchar](30) NOT NULL,
	[IDTOA] [int] NOT NULL,
	[SOLUONGNGUOI] [int] NULL,
	[LOAIPHONG] [int] NULL,
	[SOLUONGTRONG] [int] NULL,
	[IDPHONG] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_PHONG_IDPHONG] PRIMARY KEY CLUSTERED 
(
	[IDPHONG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SINHVIEN]    Script Date: 03/01/2020 17:10:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SINHVIEN](
	[NGAYSINH] [nvarchar](max) NULL,
	[HOTEN] [nvarchar](max) NULL,
	[CMND] [nvarchar](max) NULL,
	[SDT] [nvarchar](max) NULL,
	[MSSV] [nvarchar](max) NULL,
	[TENTRUONG] [nvarchar](max) NULL,
	[GIOITINH] [bit] NULL,
	[DIACHI] [nvarchar](max) NULL,
	[QUOCTICH] [nvarchar](20) NULL,
	[DANTOC] [nvarchar](20) NULL,
	[NGAYVAOKTX] [nvarchar](20) NULL,
	[NGAYRAKTX] [nvarchar](20) NULL,
	[SINHVIENNAM] [nvarchar](max) NULL,
	[KHOA] [nvarchar](50) NULL,
	[DATHUE] [bit] NULL,
	[IDSINHVIEN] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_SINHVIEN] PRIMARY KEY CLUSTERED 
(
	[IDSINHVIEN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TIENDIENNUOC]    Script Date: 03/01/2020 17:10:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TIENDIENNUOC](
	[IDPHONG] [int] NOT NULL,
	[THOIGIAN] [datetime] NOT NULL,
	[CHISODIEN] [int] NOT NULL,
	[CHISONUOC] [int] NOT NULL,
	[THANHTIEN] [money] NOT NULL,
	[TINHTRANG] [bit] NULL,
	[NGAYTHU] [varchar](max) NULL,
	[IDBL] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_TIENDIENNUOC] PRIMARY KEY CLUSTERED 
(
	[THOIGIAN] ASC,
	[IDPHONG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TIENTHUEPHONG]    Script Date: 03/01/2020 17:10:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TIENTHUEPHONG](
	[LOAIPHONG] [int] NOT NULL,
	[TIENTHUE] [money] NOT NULL,
	[SOGIUONG] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[LOAIPHONG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TOA]    Script Date: 03/01/2020 17:10:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TOA](
	[TENTOA] [nvarchar](30) NOT NULL,
	[SOLUONGPHONG] [varchar](4) NOT NULL,
	[TOANAM] [bit] NULL,
	[TSGIUONGTRONG] [int] NULL,
	[TSGIUONG] [int] NULL,
	[TONGDATHUE] [int] NULL,
	[IDTOA] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_TOA] PRIMARY KEY CLUSTERED 
(
	[IDTOA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[UserRole]    Script Date: 03/01/2020 17:10:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserRole](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[DisplayName] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Users]    Script Date: 03/01/2020 17:10:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DisplayName] [nvarchar](max) NULL,
	[UserName] [nvarchar](max) NULL,
	[Password] [nvarchar](max) NULL,
	[IdRole] [int] NOT NULL,
	[TENUSER] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[BIENLAIHOANTRAPHONG] ON 

INSERT [dbo].[BIENLAIHOANTRAPHONG] ([IDBL], [IDSINHVIEN], [IDHOCKI], [NGAYTRAPHONG], [TIENHOANTRA], [NGUOITHUNGAN], [TENSINHVIEN]) VALUES (1, 6, 5, N'19/12/2019', 0.0000, N'Bùi Đoàn Quang Tân', N'Trần Thị Như Diệp')
INSERT [dbo].[BIENLAIHOANTRAPHONG] ([IDBL], [IDSINHVIEN], [IDHOCKI], [NGAYTRAPHONG], [TIENHOANTRA], [NGUOITHUNGAN], [TENSINHVIEN]) VALUES (3, 8, 5, N'24/12/2019', 35000.0000, N'Bùi Đoàn Quang Tân', N'Nguyễn Khắc Tuấn Anh')
INSERT [dbo].[BIENLAIHOANTRAPHONG] ([IDBL], [IDSINHVIEN], [IDHOCKI], [NGAYTRAPHONG], [TIENHOANTRA], [NGUOITHUNGAN], [TENSINHVIEN]) VALUES (4, 9, 5, N'24/12/2019', 35000.0000, N'Bùi Đoàn Quang Tân', N'Bùi Đặng Minh Tân')
SET IDENTITY_INSERT [dbo].[BIENLAIHOANTRAPHONG] OFF
SET IDENTITY_INSERT [dbo].[BIENLAITHUEPHONG] ON 

INSERT [dbo].[BIENLAITHUEPHONG] ([IDVL], [IDSINHVIEN], [IDPHONG], [TRANGTHAI], [TENNHAPHONG], [LOAIPHONG], [DADONGTIENPHONG], [IDHOCKI], [TENHOCKI], [NGAYVAO], [NGAYTRAPHONG], [GHICHU]) VALUES (9, 7, 34, 0, N'C - D100', 8, 0, 6, N'HK2( 2019-2020 )', N'02/01/2020', N'03/01/2020', NULL)
INSERT [dbo].[BIENLAITHUEPHONG] ([IDVL], [IDSINHVIEN], [IDPHONG], [TRANGTHAI], [TENNHAPHONG], [LOAIPHONG], [DADONGTIENPHONG], [IDHOCKI], [TENHOCKI], [NGAYVAO], [NGAYTRAPHONG], [GHICHU]) VALUES (11, 2, 34, 0, N'C - D100', 8, 0, 6, N'HK2( 2019-2020 )', N'02/01/2020', N'02/01/2020', NULL)
INSERT [dbo].[BIENLAITHUEPHONG] ([IDVL], [IDSINHVIEN], [IDPHONG], [TRANGTHAI], [TENNHAPHONG], [LOAIPHONG], [DADONGTIENPHONG], [IDHOCKI], [TENHOCKI], [NGAYVAO], [NGAYTRAPHONG], [GHICHU]) VALUES (12, 4, 34, 0, N'C - D100', 8, 0, 6, N'HK2( 2019-2020 )', N'02/01/2020', N'03/01/2020', NULL)
SET IDENTITY_INSERT [dbo].[BIENLAITHUEPHONG] OFF
SET IDENTITY_INSERT [dbo].[BIENLAITIENPHONG] ON 

INSERT [dbo].[BIENLAITIENPHONG] ([IDBL], [IDSINHVIEN], [ID_DSSV_TIENPHONG], [IDHOCKI], [IDPHONG], [NGAYINBL], [TENNGUOITHU], [DONGTIENPHONG], [DONGTIENBHYT], [DONGTIENBHTN], [TONGTIEN], [TIENPHONGDADONG]) VALUES (62, 17, NULL, 6, 34, N'03/01/2020', N'Bùi Đoàn Quang Tân', 1, 1, 1, 1397380.0000, 900000)
INSERT [dbo].[BIENLAITIENPHONG] ([IDBL], [IDSINHVIEN], [ID_DSSV_TIENPHONG], [IDHOCKI], [IDPHONG], [NGAYINBL], [TENNGUOITHU], [DONGTIENPHONG], [DONGTIENBHYT], [DONGTIENBHTN], [TONGTIEN], [TIENPHONGDADONG]) VALUES (69, 4, NULL, 6, 34, N'03/01/2020', N'Bùi Đoàn Quang Tân', 0, 1, 0, 457380.0000, 0)
INSERT [dbo].[BIENLAITIENPHONG] ([IDBL], [IDSINHVIEN], [ID_DSSV_TIENPHONG], [IDHOCKI], [IDPHONG], [NGAYINBL], [TENNGUOITHU], [DONGTIENPHONG], [DONGTIENBHYT], [DONGTIENBHTN], [TONGTIEN], [TIENPHONGDADONG]) VALUES (72, 2, NULL, 6, 34, N'03/01/2020', N'Bùi Đoàn Quang Tân', 1, 1, 1, 1392380.0000, 895000)
SET IDENTITY_INSERT [dbo].[BIENLAITIENPHONG] OFF
SET IDENTITY_INSERT [dbo].[CANBO] ON 

INSERT [dbo].[CANBO] ([IDCANBO], [MSCB], [HOTEN], [NGAYSINH], [DIACHI], [CMND], [SDT], [GIOITINH], [QUOCTICH], [DANTOC], [NGAYVAOLAM], [CHUCVU], [IDUSER]) VALUES (2, 1, N'Nguyễn Đức Phúc', N'10/09/2000', N'22 Đường số 6', N'212816702', N'0326397031', 1, N'Việt Nam', N'Kinh', N'22/12/2019', N'Giám đốc KTX', 3)
INSERT [dbo].[CANBO] ([IDCANBO], [MSCB], [HOTEN], [NGAYSINH], [DIACHI], [CMND], [SDT], [GIOITINH], [QUOCTICH], [DANTOC], [NGAYVAOLAM], [CHUCVU], [IDUSER]) VALUES (3, 2, N'Bùi Đoàn Quang Tân', N'20/12/2019', N'Tòa G - KTX Khu B', N'111111111', N'0100120120', 1, N'Việt Nam', N'Kinh', N'22/12/2019', N'Thư ký giám đốc', 2)
SET IDENTITY_INSERT [dbo].[CANBO] OFF
INSERT [dbo].[DANHSACHSV_PHONG] ([IDSINHVIEN], [IDPHONG], [NGAYVAO], [NGAYRA]) VALUES (1, 1, N'01/12/2019', NULL)
INSERT [dbo].[DANHSACHSV_PHONG] ([IDSINHVIEN], [IDPHONG], [NGAYVAO], [NGAYRA]) VALUES (9, 1, N'03/01/2020', NULL)
INSERT [dbo].[DANHSACHSV_PHONG] ([IDSINHVIEN], [IDPHONG], [NGAYVAO], [NGAYRA]) VALUES (8, 4, N'03/01/2020', NULL)
SET IDENTITY_INSERT [dbo].[DANHSACHSV_TIENPHONG] ON 

INSERT [dbo].[DANHSACHSV_TIENPHONG] ([IDSV_TIENPHONG], [IDSINHVIEN], [IDPHONG], [TIENPHAIDONG], [NGAYVAO], [DADONGTIENPHONG], [DADONGBHYT], [DADONGBHTN], [IDHOCKI], [TIENBHYT], [TIENBHTN]) VALUES (35, 1, 1, NULL, N'01/12/2019', 1, 1, 1, 5, 457380.0000, 40000.0000)
INSERT [dbo].[DANHSACHSV_TIENPHONG] ([IDSV_TIENPHONG], [IDSINHVIEN], [IDPHONG], [TIENPHAIDONG], [NGAYVAO], [DADONGTIENPHONG], [DADONGBHYT], [DADONGBHTN], [IDHOCKI], [TIENBHYT], [TIENBHTN]) VALUES (38, 6, 37, NULL, N'02/01/2020', 0, 0, 0, 6, 457380.0000, 40000.0000)
INSERT [dbo].[DANHSACHSV_TIENPHONG] ([IDSV_TIENPHONG], [IDSINHVIEN], [IDPHONG], [TIENPHAIDONG], [NGAYVAO], [DADONGTIENPHONG], [DADONGBHYT], [DADONGBHTN], [IDHOCKI], [TIENBHYT], [TIENBHTN]) VALUES (52, 3, 37, NULL, N'03/01/2020', 0, 0, 0, 6, 457380.0000, 40000.0000)
SET IDENTITY_INSERT [dbo].[DANHSACHSV_TIENPHONG] OFF
INSERT [dbo].[GIADIEN] ([ID], [GIADIEN], [CHITIETGIA]) VALUES (1, 1678.0000, N'Cho kWh từ 0 - 50')
INSERT [dbo].[GIADIEN] ([ID], [GIADIEN], [CHITIETGIA]) VALUES (2, 1734.0000, N'Cho kWh từ 51 - 100')
INSERT [dbo].[GIADIEN] ([ID], [GIADIEN], [CHITIETGIA]) VALUES (3, 2014.0000, N'Cho kWh từ 101 - 200')
INSERT [dbo].[GIANUOC] ([ID], [GIANUOC], [CHITIETGIA]) VALUES (1, 6869.0000, N'10m3 đầu tiên')
INSERT [dbo].[GIANUOC] ([ID], [GIANUOC], [CHITIETGIA]) VALUES (2, 8110.0000, N'Từ 10m3 đến 20m3')
INSERT [dbo].[GIANUOC] ([ID], [GIANUOC], [CHITIETGIA]) VALUES (3, 9969.0000, N'Từ 21m3 đến 30m3')
SET IDENTITY_INSERT [dbo].[HOCKI] ON 

INSERT [dbo].[HOCKI] ([TENHOCKI], [IDHOCKI], [NGAYBATDAU], [NGAYKETHUC], [TENNAMHOC]) VALUES (N'HK1', 1, N'1/7/2017', N'31/12/2017', N'2017-2018')
INSERT [dbo].[HOCKI] ([TENHOCKI], [IDHOCKI], [NGAYBATDAU], [NGAYKETHUC], [TENNAMHOC]) VALUES (N'HK2', 2, N'1/1/2018', N'30/6/2018', N'2017-2018')
INSERT [dbo].[HOCKI] ([TENHOCKI], [IDHOCKI], [NGAYBATDAU], [NGAYKETHUC], [TENNAMHOC]) VALUES (N'HK1', 3, N'1/7/2018', N'31/12/2018', N'2018-2019')
SET IDENTITY_INSERT [dbo].[HOCKI] OFF
SET IDENTITY_INSERT [dbo].[PHONG] ON 

INSERT [dbo].[PHONG] ([TENPHONG], [IDTOA], [SOLUONGNGUOI], [LOAIPHONG], [SOLUONGTRONG], [IDPHONG]) VALUES (N'A100', 1, 2, 8, 6, 1)
INSERT [dbo].[PHONG] ([TENPHONG], [IDTOA], [SOLUONGNGUOI], [LOAIPHONG], [SOLUONGTRONG], [IDPHONG]) VALUES (N'B101', 2, 0, 2, 2, 2)
INSERT [dbo].[PHONG] ([TENPHONG], [IDTOA], [SOLUONGNGUOI], [LOAIPHONG], [SOLUONGTRONG], [IDPHONG]) VALUES (N'B102', 2, 0, 4, 4, 3)
SET IDENTITY_INSERT [dbo].[PHONG] OFF
SET IDENTITY_INSERT [dbo].[SINHVIEN] ON 

INSERT [dbo].[SINHVIEN] ([NGAYSINH], [HOTEN], [CMND], [SDT], [MSSV], [TENTRUONG], [GIOITINH], [DIACHI], [QUOCTICH], [DANTOC], [NGAYVAOKTX], [NGAYRAKTX], [SINHVIENNAM], [KHOA], [DATHUE], [IDSINHVIEN]) VALUES (N'17/02/2000', N'Bùi Đoàn Quang Tân Nè  ', N'2511524333', N'0399025925550', N'18521373', N'UIT', 0, N'Lâm Đồng', N'Việt Nam', N'Kinh', N'1-1-2018', NULL, N'3', N'CNPM', 1, 1)
INSERT [dbo].[SINHVIEN] ([NGAYSINH], [HOTEN], [CMND], [SDT], [MSSV], [TENTRUONG], [GIOITINH], [DIACHI], [QUOCTICH], [DANTOC], [NGAYVAOKTX], [NGAYRAKTX], [SINHVIENNAM], [KHOA], [DATHUE], [IDSINHVIEN]) VALUES (N'16/02/2000', N'Lê Thị Ngọc Huyên', N'251100003', N'0123123112', N'18521258', N'Kinh tế TPHCM', 0, N'Hà Nội', N'Việt Nam', N'Kinh', N'27-11-2019', NULL, N'2', N'Tài chính quốc tế', 0, 2)
INSERT [dbo].[SINHVIEN] ([NGAYSINH], [HOTEN], [CMND], [SDT], [MSSV], [TENTRUONG], [GIOITINH], [DIACHI], [QUOCTICH], [DANTOC], [NGAYVAOKTX], [NGAYRAKTX], [SINHVIENNAM], [KHOA], [DATHUE], [IDSINHVIEN]) VALUES (N'16/2/2000', N'Huỳnh Thị Thúy Kiều', N'251100004', N'0123123121', N'18521259', N'Thủ Dầu Một', 0, N'Quảng Ngãi', N'Việt Nam', N'Kinh', N'11-11-2019', NULL, N'3', N'Tiếng trung', 1, 3)
SET IDENTITY_INSERT [dbo].[SINHVIEN] OFF
SET IDENTITY_INSERT [dbo].[TIENDIENNUOC] ON 

INSERT [dbo].[TIENDIENNUOC] ([IDPHONG], [THOIGIAN], [CHISODIEN], [CHISONUOC], [THANHTIEN], [TINHTRANG], [NGAYTHU], [IDBL]) VALUES (1, CAST(0x0000AB1700000000 AS DateTime), 20, 20, 0.0000, 1, NULL, 12)
INSERT [dbo].[TIENDIENNUOC] ([IDPHONG], [THOIGIAN], [CHISODIEN], [CHISONUOC], [THANHTIEN], [TINHTRANG], [NGAYTHU], [IDBL]) VALUES (34, CAST(0x0000AB1700000000 AS DateTime), 34, 34, 0.0000, 0, NULL, 18)
INSERT [dbo].[TIENDIENNUOC] ([IDPHONG], [THOIGIAN], [CHISODIEN], [CHISONUOC], [THANHTIEN], [TINHTRANG], [NGAYTHU], [IDBL]) VALUES (37, CAST(0x0000AB1700000000 AS DateTime), 0, 0, 0.0000, 1, NULL, 20)
SET IDENTITY_INSERT [dbo].[TIENDIENNUOC] OFF
INSERT [dbo].[TIENTHUEPHONG] ([LOAIPHONG], [TIENTHUE], [SOGIUONG]) VALUES (2, 600000.0000, 2)
INSERT [dbo].[TIENTHUEPHONG] ([LOAIPHONG], [TIENTHUE], [SOGIUONG]) VALUES (4, 400000.0000, 4)
INSERT [dbo].[TIENTHUEPHONG] ([LOAIPHONG], [TIENTHUE], [SOGIUONG]) VALUES (6, 200000.0000, 3)
SET IDENTITY_INSERT [dbo].[TOA] ON 

INSERT [dbo].[TOA] ([TENTOA], [SOLUONGPHONG], [TOANAM], [TSGIUONGTRONG], [TSGIUONG], [TONGDATHUE], [IDTOA]) VALUES (N'A', N'100', 1, 259, 262, 3, 1)
INSERT [dbo].[TOA] ([TENTOA], [SOLUONGPHONG], [TOANAM], [TSGIUONGTRONG], [TSGIUONG], [TONGDATHUE], [IDTOA]) VALUES (N'C1', N'100', 1, 12, 12, 0, 2)
INSERT [dbo].[TOA] ([TENTOA], [SOLUONGPHONG], [TOANAM], [TSGIUONGTRONG], [TSGIUONG], [TONGDATHUE], [IDTOA]) VALUES (N'C2', N'50', 1, 4, 4, 0, 3)
SET IDENTITY_INSERT [dbo].[TOA] OFF
SET IDENTITY_INSERT [dbo].[UserRole] ON 

INSERT [dbo].[UserRole] ([id], [DisplayName]) VALUES (1, N'admin')
INSERT [dbo].[UserRole] ([id], [DisplayName]) VALUES (2, N'user')
SET IDENTITY_INSERT [dbo].[UserRole] OFF
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([Id], [DisplayName], [UserName], [Password], [IdRole], [TENUSER]) VALUES (2, N'QuangTan', N'admin', N'123', 1, N'Bùi Đoàn Quang Tân')
INSERT [dbo].[Users] ([Id], [DisplayName], [UserName], [Password], [IdRole], [TENUSER]) VALUES (3, N'DucPhuc', N'staff', N'123', 1, N'Nguyễn Đức Phúc')
SET IDENTITY_INSERT [dbo].[Users] OFF
ALTER TABLE [dbo].[BIENLAITHUEPHONG] ADD  DEFAULT ((1)) FOR [TRANGTHAI]
GO
ALTER TABLE [dbo].[BIENLAITHUEPHONG] ADD  DEFAULT ((0)) FOR [DADONGTIENPHONG]
GO
ALTER TABLE [dbo].[BIENLAITIENPHONG] ADD  DEFAULT ((0)) FOR [DONGTIENPHONG]
GO
ALTER TABLE [dbo].[BIENLAITIENPHONG] ADD  DEFAULT ((0)) FOR [DONGTIENBHYT]
GO
ALTER TABLE [dbo].[BIENLAITIENPHONG] ADD  DEFAULT ((0)) FOR [DONGTIENBHTN]
GO
ALTER TABLE [dbo].[DANHSACHSV_TIENPHONG] ADD  DEFAULT ((0)) FOR [DADONGTIENPHONG]
GO
ALTER TABLE [dbo].[DANHSACHSV_TIENPHONG] ADD  DEFAULT ((0)) FOR [DADONGBHYT]
GO
ALTER TABLE [dbo].[DANHSACHSV_TIENPHONG] ADD  DEFAULT ((0)) FOR [DADONGBHTN]
GO
ALTER TABLE [dbo].[DANHSACHSV_TIENPHONG] ADD  DEFAULT ((457380)) FOR [TIENBHYT]
GO
ALTER TABLE [dbo].[DANHSACHSV_TIENPHONG] ADD  DEFAULT ((40000)) FOR [TIENBHTN]
GO
ALTER TABLE [dbo].[SINHVIEN] ADD  DEFAULT ((0)) FOR [DATHUE]
GO
ALTER TABLE [dbo].[BIENLAIHOANTRAPHONG]  WITH CHECK ADD  CONSTRAINT [FK_BIENLAIHOANTRAPHONG_HOCKI] FOREIGN KEY([IDHOCKI])
REFERENCES [dbo].[HOCKI] ([IDHOCKI])
GO
ALTER TABLE [dbo].[BIENLAIHOANTRAPHONG] CHECK CONSTRAINT [FK_BIENLAIHOANTRAPHONG_HOCKI]
GO
ALTER TABLE [dbo].[BIENLAIHOANTRAPHONG]  WITH CHECK ADD  CONSTRAINT [FK_BIENLAIHOANTRAPHONG_SINHVIEN] FOREIGN KEY([IDSINHVIEN])
REFERENCES [dbo].[SINHVIEN] ([IDSINHVIEN])
GO
ALTER TABLE [dbo].[BIENLAIHOANTRAPHONG] CHECK CONSTRAINT [FK_BIENLAIHOANTRAPHONG_SINHVIEN]
GO
ALTER TABLE [dbo].[BIENLAITHUEPHONG]  WITH CHECK ADD  CONSTRAINT [FK_BIENLAITHUEPHONG_HOCKI_ID] FOREIGN KEY([IDHOCKI])
REFERENCES [dbo].[HOCKI] ([IDHOCKI])
GO
ALTER TABLE [dbo].[BIENLAITHUEPHONG] CHECK CONSTRAINT [FK_BIENLAITHUEPHONG_HOCKI_ID]
GO
ALTER TABLE [dbo].[BIENLAITHUEPHONG]  WITH CHECK ADD  CONSTRAINT [FK_BIENLAITHUEPHONG_PHONG] FOREIGN KEY([IDPHONG])
REFERENCES [dbo].[PHONG] ([IDPHONG])
GO
ALTER TABLE [dbo].[BIENLAITHUEPHONG] CHECK CONSTRAINT [FK_BIENLAITHUEPHONG_PHONG]
GO
ALTER TABLE [dbo].[BIENLAITHUEPHONG]  WITH CHECK ADD  CONSTRAINT [FK_BIENLAITHUEPHONG_SINHVIEN] FOREIGN KEY([IDSINHVIEN])
REFERENCES [dbo].[SINHVIEN] ([IDSINHVIEN])
GO
ALTER TABLE [dbo].[BIENLAITHUEPHONG] CHECK CONSTRAINT [FK_BIENLAITHUEPHONG_SINHVIEN]
GO
ALTER TABLE [dbo].[BIENLAITIENPHONG]  WITH CHECK ADD  CONSTRAINT [FK_BIENLAITIENPHONG_DSSV_TIENPHONG] FOREIGN KEY([ID_DSSV_TIENPHONG])
REFERENCES [dbo].[DANHSACHSV_TIENPHONG] ([IDSV_TIENPHONG])
GO
ALTER TABLE [dbo].[BIENLAITIENPHONG] CHECK CONSTRAINT [FK_BIENLAITIENPHONG_DSSV_TIENPHONG]
GO
ALTER TABLE [dbo].[BIENLAITIENPHONG]  WITH CHECK ADD  CONSTRAINT [FK_BIENLAITIENPHONG_HOCKI] FOREIGN KEY([IDHOCKI])
REFERENCES [dbo].[HOCKI] ([IDHOCKI])
GO
ALTER TABLE [dbo].[BIENLAITIENPHONG] CHECK CONSTRAINT [FK_BIENLAITIENPHONG_HOCKI]
GO
ALTER TABLE [dbo].[BIENLAITIENPHONG]  WITH CHECK ADD  CONSTRAINT [FK_BIENLAITIENPHONG_PHONG] FOREIGN KEY([IDPHONG])
REFERENCES [dbo].[PHONG] ([IDPHONG])
GO
ALTER TABLE [dbo].[BIENLAITIENPHONG] CHECK CONSTRAINT [FK_BIENLAITIENPHONG_PHONG]
GO
ALTER TABLE [dbo].[BIENLAITIENPHONG]  WITH CHECK ADD  CONSTRAINT [FK_BIENLAITIENPHONG_SINHVIEN] FOREIGN KEY([IDSINHVIEN])
REFERENCES [dbo].[SINHVIEN] ([IDSINHVIEN])
GO
ALTER TABLE [dbo].[BIENLAITIENPHONG] CHECK CONSTRAINT [FK_BIENLAITIENPHONG_SINHVIEN]
GO
ALTER TABLE [dbo].[CANBO]  WITH CHECK ADD  CONSTRAINT [FK_CANBO_USERS] FOREIGN KEY([IDUSER])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[CANBO] CHECK CONSTRAINT [FK_CANBO_USERS]
GO
ALTER TABLE [dbo].[DANHSACHSV_PHONG]  WITH CHECK ADD  CONSTRAINT [FK_DANHSACHSV_PHONG_PHONG] FOREIGN KEY([IDPHONG])
REFERENCES [dbo].[PHONG] ([IDPHONG])
GO
ALTER TABLE [dbo].[DANHSACHSV_PHONG] CHECK CONSTRAINT [FK_DANHSACHSV_PHONG_PHONG]
GO
ALTER TABLE [dbo].[DANHSACHSV_PHONG]  WITH CHECK ADD  CONSTRAINT [FK_DANHSACHSV_PHONG_SINHVIEN] FOREIGN KEY([IDSINHVIEN])
REFERENCES [dbo].[SINHVIEN] ([IDSINHVIEN])
GO
ALTER TABLE [dbo].[DANHSACHSV_PHONG] CHECK CONSTRAINT [FK_DANHSACHSV_PHONG_SINHVIEN]
GO
ALTER TABLE [dbo].[DANHSACHSV_TIENPHONG]  WITH CHECK ADD  CONSTRAINT [FK_DANHSACHSV_TIENPHONG_DANHSACHSV_PHONG_IDPHONG] FOREIGN KEY([IDPHONG])
REFERENCES [dbo].[PHONG] ([IDPHONG])
GO
ALTER TABLE [dbo].[DANHSACHSV_TIENPHONG] CHECK CONSTRAINT [FK_DANHSACHSV_TIENPHONG_DANHSACHSV_PHONG_IDPHONG]
GO
ALTER TABLE [dbo].[DANHSACHSV_TIENPHONG]  WITH CHECK ADD  CONSTRAINT [FK_DANHSACHSV_TIENPHONG_SINHVIEN] FOREIGN KEY([IDSINHVIEN])
REFERENCES [dbo].[SINHVIEN] ([IDSINHVIEN])
GO
ALTER TABLE [dbo].[DANHSACHSV_TIENPHONG] CHECK CONSTRAINT [FK_DANHSACHSV_TIENPHONG_SINHVIEN]
GO
ALTER TABLE [dbo].[DANHSACHSV_TIENPHONG]  WITH CHECK ADD  CONSTRAINT [FK_DSSV_TIENPHONG_HOCKI] FOREIGN KEY([IDHOCKI])
REFERENCES [dbo].[HOCKI] ([IDHOCKI])
GO
ALTER TABLE [dbo].[DANHSACHSV_TIENPHONG] CHECK CONSTRAINT [FK_DSSV_TIENPHONG_HOCKI]
GO
ALTER TABLE [dbo].[PHONG]  WITH CHECK ADD  CONSTRAINT [FK_PHONG_TIENTHUEPHONG] FOREIGN KEY([LOAIPHONG])
REFERENCES [dbo].[TIENTHUEPHONG] ([LOAIPHONG])
GO
ALTER TABLE [dbo].[PHONG] CHECK CONSTRAINT [FK_PHONG_TIENTHUEPHONG]
GO
ALTER TABLE [dbo].[PHONG]  WITH CHECK ADD  CONSTRAINT [FK_PHONG_TOA] FOREIGN KEY([IDTOA])
REFERENCES [dbo].[TOA] ([IDTOA])
GO
ALTER TABLE [dbo].[PHONG] CHECK CONSTRAINT [FK_PHONG_TOA]
GO
ALTER TABLE [dbo].[TIENDIENNUOC]  WITH CHECK ADD  CONSTRAINT [FK_TIENDIENNUOC_PHONG] FOREIGN KEY([IDPHONG])
REFERENCES [dbo].[PHONG] ([IDPHONG])
GO
ALTER TABLE [dbo].[TIENDIENNUOC] CHECK CONSTRAINT [FK_TIENDIENNUOC_PHONG]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [fr_IdRow_users] FOREIGN KEY([IdRole])
REFERENCES [dbo].[UserRole] ([id])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [fr_IdRow_users]
GO
USE [master]
GO
